public/auto-1.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>HP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link href="//cloud.webtype.com/css/6755f9d1-1228-45e2-b201-b1701206d099.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
    
  </head>
  <body>
    <div class="newsOverlay"></div>
    <div class="banner">
      <div class="bannerItems">
        <div class="bannerItemSlide slideAutoLvl-2-1-1">
          <div class="bannerItemSlideText">Handelsmarketing
            <div class="bannerItemSlideBody">
              <p>100% Händlerindividualisierung. 100% Markenidentität. Bündeln der nationalen Kraft der Marke für das lokale Marketing, um signifikante Umsatzsteigerungen und Auszeichnungen für die Audi Partner zu erzielen. Mit der Adaption nationaler Kampagnen, Entwicklung von Launchmitteln und der Erstellung von ca. 800 individuellen Anzeigen pro Jahr – alles für lokale Verkaufserfolge.</p>
            </div>
          </div>
        </div>
        <div class="bannerItemSlide slideAutoLvl-2-1-2">
          <div class="bannerItemSlideText">Händlersupport
            <div class="bannerItemSlideBody">
              <p>Effiziente Zusammenarbeit, die mehr verkauft – bei gleichem Budget. Echter 24/7-Support und ein Ansprechpartner von Beratung bis Produktion. Ein Team von Retail-Spezialisten für den Automobilhandel sorgt für effiziente Umsetzung und erfolgreiche Durchführung von marketingmaßnahmen und Aktionen vor Ort.</p>
            </div>
          </div>
        </div>
        <div class="bannerItemSlide slideAutoLvl-2-1-3">
          <div class="bannerItemSlideText">Literatur (Produkt/Verkauf)
            <div class="bannerItemSlideBody">
              <p>Internationale Produktinformationen und verkaufsstarke Endkunden-Broschüren. Von Audi Importeuren als Top-Medium ausgezeichnet: internationale Produktinformationen. Im modularen Baukasten zentral erstellt, weltweit umgesetzt. Integraler Bestandteil der Kommunikationskette der Marke: Verkaufs- und Handelsmedien. Markenstringente Darstellung der Inhalte und Botschaften, für die Bedürfnisse des Handels umgesetzt. Immer nach dem Motto: Marke denken, Handel sprechen.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bannerLogo"><a href="/index"><img src="img/logo.svg" alt=""></a></div>
      <div class="bannerMenu">
        <button class="js-show-nav">
        </button>
      </div>
    </div>
    <div class="mobileMenu"><a href="agentur">Agentur</a><a href="index.html">Startseite</a><a href="kontakt.html">Kontakt</a></div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

assets/template/auto-1.jade
extends _layout

block content
    .banner
        .bannerItems

            .bannerItemSlide.slideAutoLvl-2-1-1
                .bannerItemSlideText
                    | Handelsmarketing
                    .bannerItemSlideBody
                        p 100% Händlerindividualisierung. 100% Markenidentität. Bündeln der nationalen Kraft der Marke für das lokale Marketing, um signifikante Umsatzsteigerungen und Auszeichnungen für die Audi Partner zu erzielen. Mit der Adaption nationaler Kampagnen, Entwicklung von Launchmitteln und der Erstellung von ca. 800 individuellen Anzeigen pro Jahr – alles für lokale Verkaufserfolge.

            .bannerItemSlide.slideAutoLvl-2-1-2
                .bannerItemSlideText
                    | Händlersupport
                    .bannerItemSlideBody
                        p Effiziente Zusammenarbeit, die mehr verkauft – bei gleichem Budget. Echter 24/7-Support und ein Ansprechpartner von Beratung bis Produktion. Ein Team von Retail-Spezialisten für den Automobilhandel sorgt für effiziente Umsetzung und erfolgreiche Durchführung von marketingmaßnahmen und Aktionen vor Ort.
            .bannerItemSlide.slideAutoLvl-2-1-3
                .bannerItemSlideText
                    | Literatur (Produkt/Verkauf)
                    .bannerItemSlideBody
                        p Internationale Produktinformationen und verkaufsstarke Endkunden-Broschüren. Von Audi Importeuren als Top-Medium ausgezeichnet: internationale Produktinformationen. Im modularen Baukasten zentral erstellt, weltweit umgesetzt. Integraler Bestandteil der Kommunikationskette der Marke: Verkaufs- und Handelsmedien. Markenstringente Darstellung der Inhalte und Botschaften, für die Bedürfnisse des Handels umgesetzt. Immer nach dem Motto: Marke denken, Handel sprechen.
        .bannerLogo
            a(href="/index")
                img(src="img/logo.svg", alt="")
        .bannerMenu
            button.js-show-nav
                //-+svgIcon("hamburger")
