assets/template/news.jade
.newsButton.js-show-news
    | News
.news
    .newsWrap
        .newsItems
            .newsItemGutter
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | #hundp #agentur
                .newsItemIconFB
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | #hundp #agentur
                .newsItemIconFB
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur
                .newsItemIconInstagramm
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | #hundp #agentur
                .newsItemIconFB
            .newsItem
                .newsItemImage
                    img(src="img/newsImage-1.jpg", alt="")
                .newsItemText
                    | Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.
                .newsItemIconInstagramm

public/news.html

<div class="newsButton js-show-news">News</div>
<div id="overflow-scroll" class="news">
  <div class="newsButtonClose js-hide-news"></div>
  <div id="waypoint" class="newsItems">
    <div class="newsItemGutter"></div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur</div>
      <div class="newsItemIconInstagramm"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">#hundp #agentur</div>
      <div class="newsItemIconFB"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.</div>
      <div class="newsItemIconInstagramm"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur</div>
      <div class="newsItemIconInstagramm"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">#hundp #agentur</div>
      <div class="newsItemIconFB"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.</div>
      <div class="newsItemIconInstagramm"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist. Und: dass Marketing Markterfolg schafft. So schaffen wir es, dass sich Menschen bewusst entscheiden: für Ihr Produkt, für Ihr Angebot, für Ihr Unternehmen, für Sie. Wir sorgen dafür, dass Menschen bei Ihnen unterschreiben. #hundp #agentur</div>
      <div class="newsItemIconInstagramm"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">#hundp #agentur</div>
      <div class="newsItemIconFB"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage"><img src="img/newsImage-1.jpg" alt=""/></div>
      <div class="newsItemText">Herrwerth + Partner Agentur für Marketing und Kommunikation Wir glauben daran, dass erfolgreiches Marketing immer das Resultat von strategischer Planung und kreativer Umsetzung ist.</div>
      <div class="newsItemIconInstagramm"></div>
    </div>
  </div>
</div>
