meteor/html/assets/template/lenta_post_modal.jade
extends _layout_modal

block content
    .modal
        .modalPost
            .modalClose
                button.buttonClose
            .post
                .postHeader
                    .postAvatar
                        img(src="img/avatar.jpg", alt="")
                    .postHeaderContent
                        .postHeaderName
                            p 
                                span Eric Hoffman вместе с 
                                a(href="#") Василием Уткиным
                            p 
                                | на 
                                a(href="#") Луне, девятый кратор
                        .postHeaderDate
                            span Запланированно:
                            | 27 июл 2035, Вт 11:20
                .postTags
                    .postTag
                        | #сделай_сам_событие
                    .postTag
                        | #луна
                .postConnectEvent
                    a(href="#") 23
                    | Связанные события
                .postContent
                    .postContentImage
                        img(src="img/postimage.jpg")
                    h2 My home on the moon.
                    p 
                        |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
                        |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
                        |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
                        |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
                        |The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
                        a(href="#") stronaut
                        |  wings.
                    .postContentMore
                        a(href="#") Показать полностью...
                .postFooter
                    .postFooterItem
                        a(href="#") 24
                        |  Комментария
                    .postFooterItem
                        a(href="#") 242
                        .icon
                            +svgIcon('iconLike')
                        |  Нравится
                    .postFooterItemLink
                        a(href="#") 
                            | Поделиться
                            +svgIcon('iconArrowShare')
                    .postFooterButton
                        button.buttonRound
                            +svgIcon('iconLink')
    .main
        include block/sidebar
        .content
            .posts
                include block/post/post.jade

meteor/html/public/lenta_post_modal.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Happy Family</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body class="modal-open">
    <div class="overlay"></div>
    <div class="header">
      <div class="headerLogo"><a href="#">счастливая семья</a></div>
      <div class="headerContent">
        <div class="headerMenu"><a href="#">Читаем</a><a href="#">Поговорим?</a><a href="#">Эксперты</a><a href="#">Это мы!</a></div>
        <div class="headerSearch">
          <input placeholder="Поиск" class="input inputSearch">
        </div>
        <div class="headerLogin"><a href="#" class="headerLoginLink">Регистрация</a><a href="#" class="buttonZiggurat">Вход</a></div>
      </div>
    </div>
    <div class="modal">
      <div class="modalPost">
        <div class="modalClose">
          <button class="buttonClose"></button>
        </div>
        <div class="post">
          <div class="postHeader">
            <div class="postAvatar"><img src="img/avatar.jpg" alt=""></div>
            <div class="postHeaderContent">
              <div class="postHeaderName">
                <p> <span>Eric Hoffman вместе с </span><a href="#">Василием Уткиным</a></p>
                <p>
                   
                  на <a href="#">Луне, девятый кратор</a>
                </p>
              </div>
              <div class="postHeaderDate"><span>Запланированно:</span>27 июл 2035, Вт 11:20</div>
            </div>
          </div>
          <div class="postTags">
            <div class="postTag">#сделай_сам_событие</div>
            <div class="postTag">#луна</div>
          </div>
          <div class="postConnectEvent"><a href="#">23</a>Связанные события</div>
          <div class="postContent">
            <div class="postContentImage"><img src="img/postimage.jpg"></div>
            <h2>My home on the moon.</h2>
            <p>
               
              The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
              The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
              The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
              The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United 
              The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United <a href="#">stronaut</a> wings.
            </p>
            <div class="postContentMore"><a href="#">Показать полностью...</a></div>
          </div>
          <div class="postFooter">
            <div class="postFooterItem"><a href="#">24</a> Комментария</div>
            <div class="postFooterItem"><a href="#">242</a>
              <div class="icon">
                    <svg>
                      <use xlink:href="#iconLike"></use>
                    </svg>
              </div> Нравится
            </div>
            <div class="postFooterItemLink"><a href="#">
                 
                Поделиться
                    <svg>
                      <use xlink:href="#iconArrowShare"></use>
                    </svg></a></div>
            <div class="postFooterButton">
              <button class="buttonRound">
                    <svg>
                      <use xlink:href="#iconLink"></use>
                    </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div ng-controller="sidebarCtrl" class="sidebar">
        <div class="sidebarTop">
          <div class="sidebarAvatar">
            <div class="sidebarAvatarImage"><img src="img/avatar.jpg" alt=""></div>
            <div class="sidebarAvatarStatus">
              <div dropdown-select="selectStatus" dropdown-model="selectStatusSelected" dropdown-item-label="label" class="statusDropdown"></div>
            </div>
          </div>
          <div class="sidebarText">
            <div class="sidebarName">Константин Архангельский</div>
            <div class="sidebarLocation">
                  <svg>
                    <use xlink:href="#iconLocation"></use>
                  </svg>Амстердам
            </div>
          </div>
        </div>
        <div class="sidebarMenu">
          <div class="sidebarChoiseContent">
            <div dropdown-select="VisibleSelectOptions" dropdown-model="selectContentSelected" dropdown-item-label="label" class="statusDropdownContent"></div>
          </div>
          <div class="sidebarMenuItems">
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconEvent"></use>
                  </svg>события
              <div class="sidebarMenuItemCount">33</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconMessage"></use>
                  </svg>сообщения
              <div class="sidebarMenuItemCount">333</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconContact"></use>
                  </svg>контакты
              <div class="sidebarMenuItemCount">+1</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconTheme"></use>
                  </svg>мои темы
              <div class="sidebarMenuItemCount">3</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconGroup"></use>
                  </svg>мои группы
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconGenealogy"></use>
                  </svg>родословная
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconRating"></use>
                  </svg>рейтинг
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconSetting"></use>
                  </svg>настройки
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconExit"></use>
                  </svg>выход
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="posts">
          <div class="post">
            <div class="postHeader">
              <div class="postAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="postHeaderContent">
                <div class="postHeaderName">
                  <p> <span>Eric Hoffman вместе с </span><a href="#">Василием Уткиным</a></p>
                  <p>
                     
                    на <a href="#">Луне, девятый кратор</a>
                  </p>
                </div>
                <div class="postHeaderDate"><span>Запланированно:</span>27 июл 2035, Вт 11:20</div>
              </div>
            </div>
            <div class="postTags">
              <div class="postTag">#сделай_сам_событие</div>
              <div class="postTag">#луна</div>
            </div>
            <div class="postConnectEvent"><a href="#">23</a>Связанные события</div>
            <div class="postContent">
              <div class="postContentImage"><img src="img/postimage.jpg"></div>
              <h2>My home on the moon.</h2>
              <p>
                 
                The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United <a href="#">stronaut</a> wings.
              </p>
              <div class="postContentMore"><a href="#">Показать полностью...</a></div>
            </div>
            <div class="postFooter">
              <div class="postFooterItem"><a href="#">24</a> Комментария</div>
              <div class="postFooterItem"><a href="#">242</a>
                <div class="icon">
                      <svg>
                        <use xlink:href="#iconLike"></use>
                      </svg>
                </div> Нравится
              </div>
              <div class="postFooterItemLink"><a href="#">
                   
                  Поделиться
                      <svg>
                        <use xlink:href="#iconArrowShare"></use>
                      </svg></a></div>
              <div class="postFooterButton">
                <button class="buttonRound">
                      <svg>
                        <use xlink:href="#iconLink"></use>
                      </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="postComments">
            <div class="postCommentItem">
              <div class="postCommentAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="postCommentContent">
                <div class="postCommentHeader">
                  <div class="postCommentHeaderName">
                    <p> <span>Eric Hoffman</span></p>
                  </div>
                  <div class="postCommentHeaderDate">27 июл 2035, Вт 11:20</div>
                </div>
                <div class="postCommentBody">
                  <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every.</p>
                </div>
                <div class="postCommentFooter">
                  <div class="postCommentFooterItem">
                    <div class="icon">
                          <svg>
                            <use xlink:href="#iconAnswer"></use>
                          </svg> Ответить
                    </div>
                  </div>
                  <div class="postCommentFooterItem"><a href="#">1</a>
                    <div class="icon">
                          <svg>
                            <use xlink:href="#iconLike"></use>
                          </svg> Нравится
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="postCommentItem">
              <div class="postCommentAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="postCommentContent">
                <div class="postCommentHeader">
                  <div class="postCommentHeaderName">
                    <p> <span>Eric Hoffman</span></p>
                  </div>
                  <div class="postCommentHeaderDate">27 июл 2035, Вт 11:20</div>
                </div>
                <div class="postCommentBody">
                  <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every</p>
                </div>
              </div>
            </div>
            <div class="postCommentItem">
              <div class="postCommentAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="postCommentContent">
                <div class="postCommentHeader">
                  <div class="postCommentHeaderName">
                    <p> <span>Eric Hoffman</span></p>
                  </div>
                  <div class="postCommentHeaderDate">27 июл 2035, Вт 11:20</div>
                </div>
                <div class="postCommentBody">
                  <p>
                     
                    In a free hour, when our power of choice is untrammelled and when nothing prevents our <a href="#">being able to do what we like best, every pleasure is to be welcomed and every</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="postCommentAnswer">
              <div class="postCommentAnswerAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="postCommentAnswerInput">
                <input placeholder="Написать комментарий" class="input">
              </div>
            </div>
          </div>
          <div class="post">
            <div class="postHeader">
              <div class="postAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="postHeaderContent">
                <div class="postHeaderName">
                  <p> <span>Eric Hoffman вместе с </span><a href="#">Василием Уткиным</a></p>
                  <p>
                     
                    на <a href="#">Луне, девятый кратор</a>
                  </p>
                </div>
                <div class="postHeaderDate">27 июл 2035, Вт 11:20</div>
              </div>
            </div>
            <div class="postConnectEvent"><a href="#">23</a>Связанные события</div>
            <div class="postContent">
              <h2>My home on the moon.</h2>
              <p>
                 
                The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United <a href="#">stronaut</a> wings.
              </p>
              <div class="postContentMore"><a href="#">Показать полностью...</a></div>
            </div>
            <div class="postFooter">
              <div class="postFooterItem"><a href="#">24</a> Комментария</div>
              <div class="postFooterItem"><a href="#">242</a>
                <div class="icon">
                      <svg>
                        <use xlink:href="#iconLike"></use>
                      </svg>
                </div> Нравится
              </div>
              <div class="postFooterItemLink"><a href="#">
                   
                  Поделиться
                      <svg>
                        <use xlink:href="#iconArrowShare"></use>
                      </svg></a></div>
              <div class="postFooterButton">
                <button class="buttonRound">
                      <svg>
                        <use xlink:href="#iconLink"></use>
                      </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="postHeader">
              <div class="postAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="postHeaderContent">
                <div class="postHeaderName">
                  <p> <span>Eric Hoffman вместе с </span><a href="#">Василием Уткиным</a></p>
                </div>
                <div class="postHeaderDate">27 июл 2035, Вт 11:20</div>
              </div>
            </div>
            <div class="postContent">
              <h2>My home on the moon!.</h2>
              <p>
                 
                The criteria for what constitutes human spaceflight vary. The Fédération Aéronautique Internationale (FAI) Sporting Code for astronautics recognizes only flights that exceed an altitude of 100 kilometers (62 mi).[3] In the United <a href="#">stronaut</a> wings.
              </p>
              <div class="postContentMore"><a href="#">Показать полностью...</a></div>
            </div>
            <div class="postFooter">
              <div class="postFooterItem"><a href="#">24</a> Комментария</div>
              <div class="postFooterItem"><a href="#">24</a> Комментария</div>
              <div class="postFooterItem"><a href="#">24</a> Комментария</div>
              <div class="postFooterItem"><a href="#">242</a>
                <div class="icon">
                      <svg>
                        <use xlink:href="#iconLike"></use>
                      </svg>
                </div> Нравится
              </div>
              <div class="postFooterItem"><a href="#">242</a> Нравится
                <div class="icon">
                      <svg>
                        <use xlink:href="#iconLike"></use>
                      </svg>
                </div>
              </div>
              <div class="postFooterItemLink"><a href="#">
                   
                  Поделиться
                      <svg>
                        <use xlink:href="#iconArrowShare"></use>
                      </svg></a></div>
              <div class="postFooterButton">
                <button class="buttonRound">
                      <svg>
                        <use xlink:href="#iconLink"></use>
                      </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerSidebar"></div>
      <div class="footerContent"></div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
