meteor/html/assets/template/profile_follower.jade
extends _layout

block content
    .main
        .sidebar
        .content
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                        .profileBannerInfoStatus
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation
                            +svgIcon('iconLocation')
                            | Москва
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileFollow
                    .profileFollowBar
                        .profileFollowBarItem
                            | Подписчики
                            span 7
                        .profileFollowBarItem
                            | Подписчики
                            span 123
                    .profileFollowerItems
                        - for (var i = 0; i < 10; ++i) {
                            .profileFollowerItem
                                .profileFollowerItemAvatar
                                    img(src="img/avatar.jpg", alt="")
                                    .profileFollowerItemAvatarStatus
                                        .statusOnline
                                .profileFollowerItemText
                                    .profileFollowerItemName
                                        | Константин Архангельский
                                    .profileFollowerItemPosition
                                        | Креативный директор ООО Тындекс
                                    .profileFollowerItemFooter
                                        .profileFollowerItemSubscriper
                                            | 1234 подписчиков
                                        .profileFollowerItemButton
                                            button.buttonOrangeSmall Подписаться
                        - }

meteor/html/public/profile_follower.html
<!DOCTYPE html>
<html lang="ru" ng-app="demo">
  <head>
    <title>Happy Family</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerLogo"><a href="#">счастливая семья</a></div>
      <div class="headerContent">
        <div class="headerMenu"><a href="#">Читаем</a><a href="#">Поговорим?</a><a href="#">Эксперты</a><a href="#">Это мы!</a></div>
        <div class="headerSearch">
          <input placeholder="Поиск" class="input inputSearch">
        </div>
        <div class="headerLogin"><a href="#" class="headerLoginLink">Регистрация</a><a href="#" class="buttonZiggurat">Вход</a></div>
      </div>
    </div>
    <div class="main">
      <div class="sidebar"></div>
      <div class="content">
        <div class="profile">
          <div class="profileBanner">
            <div style="background-image: url('./img/profileBannerBG.jpg')" class="profileBannerImage"></div>
            <div class="profileBannerAvatar">
              <div class="profileBannerAvatarImage"><img src="img/avatar.jpg" alt=""></div>
            </div>
            <div class="profileBannerInfo">
              <div class="profileBannerInfoName">Елена Троянская</div>
              <div class="profileBannerInfoStatus">
                <div class="statusOnline"></div>Online
              </div>
              <div class="profileBannerInfoLocation">
                    <svg>
                      <use xlink:href="#iconLocation"></use>
                    </svg>Москва
              </div>
            </div>
            <div class="profileBannerButton">
              <button class="buttonOrange">Написать сообщение</button>
              <button class="buttonOrange">Подписаться</button>
            </div>
          </div>
          <div class="profileInfoMenu">
            <div class="profileInfoMenuItems">
              <div class="profileInfoMenuItem"><a href="#">Лента</a></div>
              <div class="profileInfoMenuItem"><a href="#">Информация</a></div>
              <div class="profileInfoMenuItem"><a href="#">Интересы</a></div>
              <div class="profileInfoMenuItem"><a href="#">Группы</a></div>
              <div class="profileInfoMenuItem"><a href="#">Подписки</a></div>
            </div>
          </div>
          <div class="profileFollow">
            <div class="profileFollowBar">
              <div class="profileFollowBarItem">Подписчики<span>7</span></div>
              <div class="profileFollowBarItem">Подписчики<span>123</span></div>
            </div>
            <div class="profileFollowerItems">
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profileFollowerItem">
                <div class="profileFollowerItemAvatar"><img src="img/avatar.jpg" alt="">
                  <div class="profileFollowerItemAvatarStatus">
                    <div class="statusOnline"></div>
                  </div>
                </div>
                <div class="profileFollowerItemText">
                  <div class="profileFollowerItemName">Константин Архангельский</div>
                  <div class="profileFollowerItemPosition">Креативный директор ООО Тындекс</div>
                  <div class="profileFollowerItemFooter">
                    <div class="profileFollowerItemSubscriper">1234 подписчиков</div>
                    <div class="profileFollowerItemButton">
                      <button class="buttonOrangeSmall">Подписаться</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerSidebar"></div>
      <div class="footerContent"></div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
