meteor/html/build/profile_info.html
<!DOCTYPE html><html lang="ru" ng-app="demo"><head><title>Happy Family</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, user-scalable=yes"><link href="./css/blocks.css" type="text/css" rel="stylesheet"><link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico"><link rel="shortcut icon" href="favicon.ico"><link rel="apple-touch-icon-precomposed" href="favicon-152.png"><meta name="msapplication-TileColor" content="#FFFFFF"><meta name="msapplication-TileImage" content="favicon-144.png"><meta name="msapplication-square70x70logo" content="favicon-70.png"><meta name="msapplication-square150x150logo" content="favicon-150.png"><meta name="msapplication-square310x310logo" content="favicon-310.png"><link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png"><link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png"><link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png"><link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png"><link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png"><link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]--><script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script><script>loadFont('FontPack', 'css/woff.css');</script><script>;( function( window, document )
    {
        'use strict';

        var file     = './img/svghtml.html',
            revision = 1,
            debug = true;

        if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
            return true;

        var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
            request,
            data,
            insertIT = function()
            {
                document.body.insertAdjacentHTML( 'afterbegin', data );
            },
            insert = function()
            {
                if( document.body ) insertIT();
                else document.addEventListener( 'DOMContentLoaded', insertIT );
            };

        if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
        {
            data = localStorage.getItem( 'inlineSVGdata' );
            if( data )
            {
                insert();
                return true;
            }
        }

        try
        {
            request = new XMLHttpRequest();
            request.open( 'GET', file, true );
            request.onload = function()
            {
                if( request.status >= 200 && request.status < 400 )
                {
                    data = request.responseText;
                    insert();
                    if( isLocalStorage )
                    {
                        localStorage.setItem( 'inlineSVGdata',  data );
                        localStorage.setItem( 'inlineSVGrev',   revision );
                    }
                }
            }
            request.send();
        }
        catch( e ){}

    }( window, document ) );
</script></head><body><div class="header"><div class="headerLogo"><a href="#">счастливая семья</a></div><div class="headerContent"><div class="headerMenu"><a href="#">Читаем</a><a href="#">Поговорим?</a><a href="#">Эксперты</a><a href="#">Это мы!</a></div><div class="headerSearch"><input placeholder="Поиск" class="input inputSearch"></div><div class="headerLogin"><a href="#" class="headerLoginLink">Регистрация</a><a href="#" class="buttonZiggurat">Вход</a></div></div></div><div class="main"><div class="sidebar"></div><div class="content"><div class="profile"><div class="profileBanner"><div style="background-image: url('./img/profileBannerBG.jpg')" class="profileBannerImage"></div><div class="profileBannerAvatar"><div class="profileBannerAvatarImage"><img src="img/avatar.jpg" alt=""></div></div><div class="profileBannerInfo"><div class="profileBannerInfoName">Елена Троянская</div><div class="profileBannerInfoStatus"><div class="statusOnline"></div>Online</div><div class="profileBannerInfoLocation"><svg><use xlink:href="#iconLocation"></use></svg>Москва</div></div><div class="profileBannerButton"><button class="buttonOrange">Написать сообщение</button><button class="buttonOrange">Подписаться</button></div></div><div class="profileInfoMenu"><div class="profileInfoMenuItems"><div class="profileInfoMenuItem"><a href="#">Лента</a></div><div class="profileInfoMenuItem"><a href="#">Информация</a></div><div class="profileInfoMenuItem"><a href="#">Интересы</a></div><div class="profileInfoMenuItem"><a href="#">Группы</a></div><div class="profileInfoMenuItem"><a href="#">Подписки</a></div></div></div><div class="profileInfo"><div class="profileInfoSection"><div class="profileInfoSectionBar">Общая информация</div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Фамилия в девичестве:</div><div class="profileInfoSectionItemRight">Спартанская</div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">День рождения:</div><div class="profileInfoSectionItemRight">23 апреля</div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Место рождения</div><div class="profileInfoSectionItemRight"><a href="#" class="link">Россия, Пермская обл., г. Красновишерск</a></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">О себе:</div><div class="profileInfoSectionItemRight"><span>Смотрит она сурово. Молчит неслышно. Блестит едва. Рыба, шепни два слова. Хотя бы, что ли, "жива, жива". Молчит неслышно. Блестит едва. Рыба, шепни два слова. Хотя бы, что ли, "жива, жива". Мелких, себе в убыток, набрал причастий.</span></div></div></div><div class="profileInfoSection"><div class="profileInfoSectionBar">Семья</div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Семейное положение:</div><div class="profileInfoSectionItemRight"> замужем за <a href="#" class="link">Игорем Троянским</a></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Дети:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">Птоломей Троянский </a>, <a href="#" class="link">Медея Хромченко</a></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Родители:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">Птоломей Троянский </a>, <a href="#" class="link">Медея Хромченко</a></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft"><a href="#" class="link">Генеологическое дерево</a></div><div class="profileInfoSectionItemRight"></div></div></div><div class="profileInfoSection"><div class="profileInfoSectionBar">Карьера</div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Место работы, должность:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">МТСБМВ</a>, Дизайнер Всея Руси  <span>2010 — по настоящее время</span></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Место работы, должность:</div><div class="profileInfoSectionItemRight">Место работы, должность:         ООО Винзавод, Главный по белочкам  <span>2008 — 2010</span></div></div></div><div class="profileInfoSection"><div class="profileInfoSectionBar">Образование</div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">ВУЗ:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">РГГУ</a>, бакалавриат, экономика, <span>выпуск 2010 — 2015</span></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">ВУЗ:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">ВШЭ</a><span>выпуск 2010 — 2015</span></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Школа:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">Среднаяя школа №17 г.Москвы</a><span>выпуск 2000 — 2010</span></div></div></div><div class="profileInfoSection"><div class="profileInfoSectionBar">Контакты</div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Моб. телефон:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">+7 903 800 01 23</a></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">e-mail:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">email@gmail.com</a></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">facebook:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">facebook1221323</a></div></div><div class="profileInfoSectionItem"><div class="profileInfoSectionItemLeft">Сайт:</div><div class="profileInfoSectionItemRight"><a href="#" class="link">www.super.me</a></div></div></div></div></div></div></div><div class="footer"><div class="footerSidebar"></div><div class="footerContent"></div></div><script src="./js/vendor.js"></script><script src="./js/index.js"></script></body></html>

meteor/html/assets/template/profile_info.jade
extends _layout

block content
    
    .main
        .sidebar
        .content
            .profile
                .profileBanner
                    .profileBannerImage(style="background-image: url('./img/profileBannerBG.jpg')")
                    .profileBannerAvatar
                        .profileBannerAvatarImage
                            img(src="img/avatar.jpg", alt="")
                    .profileBannerInfo
                        .profileBannerInfoName
                            | Елена Троянская
                            span Второй заголовок
                        .profileBannerInfoStatus
                            .statusOnline
                            | Online
                        .profileBannerInfoLocation
                            +svgIcon('iconLocation')
                            | Москва
                    .profileBannerButton
                        button.buttonOrange Написать сообщение
                        button.buttonOrange Подписаться
                .profileInfoMenu
                    .profileInfoMenuItems
                        .profileInfoMenuItem
                            a(href="#") Лента
                        .profileInfoMenuItem
                            a(href="#") Информация
                        .profileInfoMenuItem
                            a(href="#") Интересы
                        .profileInfoMenuItem
                            a(href="#") Группы
                        .profileInfoMenuItem
                            a(href="#") Подписки
                .profileInfo
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Общая информация
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Фамилия в девичестве:
                            .profileInfoSectionItemRight
                                | Спартанская
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | День рождения:
                            .profileInfoSectionItemRight
                                | 23 апреля
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место рождения
                            .profileInfoSectionItemRight
                                a(href="#").link Россия, Пермская обл., г. Красновишерск
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | О себе:
                            .profileInfoSectionItemRight
                                span Смотрит она сурово. Молчит неслышно. Блестит едва. Рыба, шепни два слова. Хотя бы, что ли, "жива, жива". Молчит неслышно. Блестит едва. Рыба, шепни два слова. Хотя бы, что ли, "жива, жива". Мелких, себе в убыток, набрал причастий.
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Семья
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Семейное положение:
                            .profileInfoSectionItemRight
                                |  замужем за 
                                a(href="#").link Игорем Троянским
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Дети:
                            .profileInfoSectionItemRight
                                a(href="#").link Птоломей Троянский 
                                | , 
                                a(href="#").link Медея Хромченко
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Родители:
                            .profileInfoSectionItemRight
                                a(href="#").link Птоломей Троянский 
                                | , 
                                a(href="#").link Медея Хромченко
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                a(href="#").link Генеологическое дерево
                            .profileInfoSectionItemRight
                                
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Карьера
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место работы, должность:
                            .profileInfoSectionItemRight
                                a(href="#").link МТСБМВ
                                | , Дизайнер Всея Руси  
                                span 2010 — по настоящее время
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Место работы, должность:
                            .profileInfoSectionItemRight
                                | Место работы, должность:         ООО Винзавод, Главный по белочкам  
                                span 2008 — 2010
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Образование
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | ВУЗ:
                            .profileInfoSectionItemRight
                                a(href="#").link РГГУ
                                |, бакалавриат, экономика, 
                                span выпуск 2010 — 2015
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | ВУЗ:
                            .profileInfoSectionItemRight
                                a(href="#").link ВШЭ
                                span выпуск 2010 — 2015
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Школа:
                            .profileInfoSectionItemRight
                                a(href="#").link Среднаяя школа №17 г.Москвы
                                span выпуск 2000 — 2010
                    .profileInfoSection
                        .profileInfoSectionBar
                            | Контакты
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Моб. телефон:
                            .profileInfoSectionItemRight
                                a(href="#").link +7 903 800 01 23
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | e-mail:
                            .profileInfoSectionItemRight
                                a(href="#").link email@gmail.com
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | facebook:
                            .profileInfoSectionItemRight
                                a(href="#").link facebook1221323
                        .profileInfoSectionItem
                            .profileInfoSectionItemLeft
                                | Сайт:
                            .profileInfoSectionItemRight
                                a(href="#").link www.super.me
                                
