meteor/html/public/ui-angular.html
<!DOCTYPE html>
<html lang="ru" ng-app="demo">
  <head>
    <title>Happy Family</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerLogo"><a href="#">счастливая семья</a></div>
      <div class="headerContent">
        <div class="headerMenu"><a href="#">Читаем</a><a href="#">Поговорим?</a><a href="#">Эксперты</a><a href="#">Это мы!</a></div>
        <div class="headerSearch">
          <input placeholder="Поиск" class="input inputSearch">
        </div>
        <div class="headerLogin"><a href="#" class="headerLoginLink">Регистрация</a><a href="#" class="buttonZiggurat">Вход</a></div>
      </div>
    </div>
    <div class="main">
      <div class="sidebar"></div>
      <div ng-controller="DemoCtrl" class="content">
        <div style="height:900px" class="uiItem">
          <h2>Multi Select</h2>
          <ui-select multiple="" ng-model="multipleDemo.colors" theme="select2" ng-disabled="disabled" close-on-select="false" style="width: 300px;" title="Choose a color">
            <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
            <ui-select-choices repeat="color in availableColors | filter:$select.search">{{color}}</ui-select-choices>
          </ui-select>
        </div>
        <div class="uiItem">
          <h2>Multi Select with Icon</h2>
          <div class="selectWithIcon">
            <ui-select multiple="" ng-model="multipleDemo.colors" theme="select2" ng-disabled="disabled" close-on-select="false" style="width: 300px;" title="Choose a color">
              <ui-select-match placeholder="Select colors...">
                <div class="selectAvatar"><img src="img/avatar.jpg"></div>
                {{$item}}
                
              </ui-select-match>
              <ui-select-choices repeat="color in availableColors | filter:$select.search"><div class="selectAvatar"><img src="img/avatar.jpg"></div> {{color}}</ui-select-choices>
            </ui-select>
            <div class="icon">
                  <svg>
                    <use xlink:href="#iconPeoples"></use>
                  </svg>
            </div>
          </div>
        </div>
        <div class="uiItem">
          <h2>Single Select    </h2>
          <ui-select ng-model="country.selected" theme="select2" style="width: 300px;" title="Choose an address" search-enabled="true">
            <ui-select-match placeholder="Select colors...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="country in countries | filter: $select.search">{{country.name}}</ui-select-choices>
          </ui-select>
        </div>
        <div class="uiItem">
          <h2>Single Select        </h2>
          <div dropdown-select="ddSelectOptions" dropdown-model="ddSelectSelected" dropdown-item-label="text" class="dropdown"></div>
        </div>
        <div class="uiItem">
          <h2>tooltip Top</h2><a href="#" tooltip-placement="top" tooltip="On the Left!">link</a>
        </div>
        <div class="uiItem">
          <h2>tooltip Bottom</h2><a href="#" tooltip-placement="bottom" tooltip="On the Left!">link</a>
        </div>
        <div class="uiItem">
          <h2>tooltip Left</h2><a href="#" tooltip-placement="left" tooltip="On the Left!">link</a>
        </div>
        <div class="uiItem">
          <h2>tooltip Right</h2><a href="#" tooltip-placement="right" tooltip="On the Left!">link</a>
        </div>
        <div class="uiItem">
          <h2>tooltip Left Error</h2><a href="#" tooltip-placement="left" tooltip="On the Left!" tooltip-class="tooltip-error">link</a>
        </div>
        <div class="uiItem">
          <h2>popover Top</h2><a href="#" popover="On the Top!" popover-placement="top">link</a>
        </div>
        <div class="uiItem">
          <h2>popover Bottom</h2><a href="#" popover="On the Top!" popover-placement="bottom">link</a>
        </div>
        <div class="uiItem">
          <h2>popover Left</h2><a href="#" popover="On the Top!" popover-placement="left">link</a>
        </div>
        <div class="uiItem">
          <h2>popover Right</h2><a href="#" popover="On the Top!" popover-placement="right">link</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerSidebar"></div>
      <div class="footerContent"></div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

meteor/html/assets/template/ui-angular.jade
extends _layout

block content
    .main
        .sidebar
        .content(ng-controller="DemoCtrl")
            .uiItem(style="height:900px")
                h2 Multi Select
                ui-select(multiple='', ng-model='multipleDemo.colors', theme='select2', ng-disabled='disabled', close-on-select='false', style='width: 300px;', title='Choose a color')
                    ui-select-match(placeholder='Select colors...') {{$item}}
                    ui-select-choices(repeat='color in availableColors | filter:$select.search') {{color}}
            .uiItem
                h2 Multi Select with Icon
                .selectWithIcon
                    ui-select(multiple='', ng-model='multipleDemo.colors', theme='select2', ng-disabled='disabled', close-on-select='false', style='width: 300px;', title='Choose a color')
                        ui-select-match(placeholder='Select colors...').
                            <div class="selectAvatar"><img src="img/avatar.jpg"></div>
                            {{$item}}
                            
                        ui-select-choices(repeat='color in availableColors | filter:$select.search') <div class="selectAvatar"><img src="img/avatar.jpg"></div> {{color}}
                
                    .icon
                        +svgIcon('iconPeoples')
            .uiItem
                h2 Single Select    
                ui-select(ng-model='country.selected', theme='select2', style='width: 300px;', title='Choose an address' search-enabled='true')
                    ui-select-match(placeholder='Select colors...') {{$select.selected.name}}
                    ui-select-choices(repeat="country in countries | filter: $select.search") {{country.name}}
            .uiItem
                h2 Single Select        
                .dropdown(dropdown-select='ddSelectOptions', dropdown-model='ddSelectSelected', dropdown-item-label='text')
                    
            .uiItem
                h2 tooltip Top
                a(href="#" tooltip-placement="top" tooltip="On the Left!") link
            .uiItem
                h2 tooltip Bottom
                a(href="#" tooltip-placement="bottom" tooltip="On the Left!") link

            .uiItem
                h2 tooltip Left
                a(href="#" tooltip-placement="left" tooltip="On the Left!") link
            .uiItem
                h2 tooltip Right
                a(href="#" tooltip-placement="right" tooltip="On the Left!") link
            .uiItem
                h2 tooltip Left Error
                a(href="#" tooltip-placement="left" tooltip="On the Left!" tooltip-class='tooltip-error') link
            .uiItem
                h2 popover Top
                a(href="#" popover="On the Top!" popover-placement="top") link
            .uiItem
                h2 popover Bottom
                a(href="#" popover="On the Top!" popover-placement="bottom") link
            .uiItem
                h2 popover Left
                a(href="#" popover="On the Top!" popover-placement="left") link
            .uiItem
                h2 popover Right
                a(href="#" popover="On the Top!" popover-placement="right") link
