meteor/html/public/ui-chat.html
<!DOCTYPE html>
<html lang="ru" ng-app="demo">
  <head>
    <title>Happy Family</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerLogo"><a href="#">счастливая семья</a></div>
      <div class="headerContent">
        <div class="headerMenu"><a href="#">Читаем</a><a href="#">Поговорим?</a><a href="#">Эксперты</a><a href="#">Это мы!</a></div>
        <div class="headerSearch">
          <input placeholder="Поиск" class="input inputSearch">
        </div>
        <div class="headerLogin"><a href="#" class="headerLoginLink">Регистрация</a><a href="#" class="buttonZiggurat">Вход</a></div>
      </div>
    </div>
    <div class="chats">
      <div class="chat">
        <div class="chatHeader">
          <div class="chatHeaderTitle">Беседа с Rogie King</div>
          <div class="chatHeaderButton">
            <button class="buttonIconBismark">
                  <svg>
                    <use xlink:href="#iconFull"></use>
                  </svg>
            </button>
            <button class="buttonIconBismark">
                  <svg>
                    <use xlink:href="#iconClose"></use>
                  </svg>
            </button>
          </div>
        </div>
        <div class="chatContent">
          <div class="chatContentScroll">
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">13:25</div>
              <div class="messangerMessageWhite">What do you mean man?</div>
            </div>
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">22:45</div>
              <div class="messangerMessageAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="messangerMessageBlue">One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.</div>
            </div>
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">13:25</div>
              <div class="messangerMessageWhite">One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.</div>
            </div>
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">13:25</div>
              <div class="messangerMessageAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="messangerMessageBlue">One of them days</div>
            </div>
          </div>
        </div>
        <div class="chatInput">
          <input>
          <div class="chatInputButton">
            <button class="buttonIconBismark">
                  <svg>
                    <use xlink:href="#iconAttach"></use>
                  </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="chat">
        <div class="chatHeader">
          <div class="chatHeaderTitle">Беседа с Rogie King</div>
          <div class="chatHeaderButton">
            <button class="buttonIconBismark">
                  <svg>
                    <use xlink:href="#iconFull"></use>
                  </svg>
            </button>
            <button class="buttonIconBismark">
                  <svg>
                    <use xlink:href="#iconClose"></use>
                  </svg>
            </button>
          </div>
        </div>
        <div class="chatContent">
          <div class="chatContentScroll">
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">13:25</div>
              <div class="messangerMessageWhite">What do you mean man?</div>
            </div>
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">22:45</div>
              <div class="messangerMessageAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="messangerMessageBlue">One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.</div>
            </div>
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">13:25</div>
              <div class="messangerMessageWhite">One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.</div>
            </div>
            <div class="messangerChatItem">
              <div class="messangerChatItemTime">13:25</div>
              <div class="messangerMessageAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="messangerMessageBlue">One of them days</div>
            </div>
          </div>
        </div>
        <div class="chatInput">
          <input>
          <div class="chatInputButton">
            <button class="buttonIconBismark">
                  <svg>
                    <use xlink:href="#iconAttach"></use>
                  </svg>
            </button>
            
            
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div ng-controller="sidebarCtrl" class="sidebar">
        <div class="sidebarTop">
          <div class="sidebarAvatar">
            <div class="sidebarAvatarImage"><img src="img/avatar.jpg" alt=""></div>
            <div class="sidebarAvatarStatus">
              <div dropdown-select="selectStatus" dropdown-model="selectStatusSelected" dropdown-item-label="label" class="statusDropdown"></div>
            </div>
          </div>
          <div class="sidebarText">
            <div class="sidebarName">Константин Архангельский</div>
            <div class="sidebarLocation">
                  <svg>
                    <use xlink:href="#iconLocation"></use>
                  </svg>Амстердам
            </div>
          </div>
        </div>
        <div class="sidebarMenu">
          <div class="sidebarChoiseContent">
            <div dropdown-select="VisibleSelectOptions" dropdown-model="selectContentSelected" dropdown-item-label="label" class="statusDropdownContent"></div>
          </div>
          <div class="sidebarMenuItems">
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconEvent"></use>
                  </svg>события
              <div class="sidebarMenuItemCount">33</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconMessage"></use>
                  </svg>сообщения
              <div class="sidebarMenuItemCount">333</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconContact"></use>
                  </svg>контакты
              <div class="sidebarMenuItemCount">+1</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconTheme"></use>
                  </svg>мои темы
              <div class="sidebarMenuItemCount">3</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconGroup"></use>
                  </svg>мои группы
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconGenealogy"></use>
                  </svg>родословная
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconRating"></use>
                  </svg>рейтинг
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconSetting"></use>
                  </svg>настройки
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconExit"></use>
                  </svg>выход
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="uiItem">
          <h2>map icon</h2>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerSidebar"></div>
      <div class="footerContent"></div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

meteor/html/assets/template/ui-chat.jade
extends _layout

block content
    .chats
        .chat
            .chatHeader
                .chatHeaderTitle
                    | Беседа с Rogie King
                .chatHeaderButton
                    button.buttonIconBismark
                        +svgIcon('iconFull')
                    button.buttonIconBismark
                        +svgIcon('iconClose')
            .chatContent
                .chatContentScroll
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | What do you mean man?
                    .messangerChatItem
                        .messangerChatItemTime
                            | 22:45
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days
            .chatInput
                input
                .chatInputButton
                    button.buttonIconBismark
                        +svgIcon('iconAttach')
                    //- button.buttonIconBismark
                    //-     +svgIcon('iconClose')
        .chat
            .chatHeader
                .chatHeaderTitle
                    | Беседа с Rogie King
                .chatHeaderButton
                    button.buttonIconBismark
                        +svgIcon('iconFull')
                    button.buttonIconBismark
                        +svgIcon('iconClose')
            .chatContent
                .chatContentScroll
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | What do you mean man?
                    .messangerChatItem
                        .messangerChatItemTime
                            | 22:45
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageWhite
                            | One of them days, he gonna leave the rest and then he gonna get paid and pay mama debt.
                    .messangerChatItem
                        .messangerChatItemTime
                            | 13:25
                        .messangerMessageAvatar
                            img(src="img/avatar.jpg", alt="")
                        .messangerMessageBlue
                            | One of them days
            .chatInput
                input
                .chatInputButton
                    button.buttonIconBismark
                        +svgIcon('iconAttach')
                    //- button.buttonIconBismark
                    //-     +svgIcon('iconClose')
                    
                
                
    .main
        include block/sidebar
        .content
            .uiItem
                h2 map icon
                
