meteor/html/assets/template/ui-map.jade
extends _layout

block content
    .main
        include block/sidebar
        .content
            .uiItem
                h2 map icon
                .mapIcon
                    
            .uiItem
                h2 map icon big
                .mapIconBig
                    
            .uiItem(style="height:300px")
                h2 map boolon
                .mapBoolon
                    .mapBoolonHeader
                        .mapBoolonAvatar
                            img(src="img/avatar.jpg", alt="")
                        .mapBoolonName
                            | Eric Hoffman
                    .mapBoolonContent
                        span 21 мая 2015, г. Семипалатинск
                        | My home on the moon.
                    .mapBoolonType
                        .mapBoolonTypeItem
                            +svgIcon('iconSound')
                        .mapBoolonTypeItem
                            +svgIcon('iconVideo')
                    .mapBoolonLink
                        a(href="#") Показать полностью...
                        | 4 связанных события
            .uiItem(style="height:500px")
                h2 map tooltip
                .mapTooltip
                    .mapTooltipClose
                        +svgIcon('iconDelete')
                    .mapTooltipScroll
                        .mapTooltipItem.mapTooltipItemLine
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')
                        .mapTooltipItem.mapTooltipItemLineSub
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')
                        .mapTooltipItem.mapTooltipItemSub.mapTooltipItemSubLine
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')
                        .mapTooltipItem.mapTooltipItemSub
                            .mapTooltipItemIcon
                                .mapIcon
                                    +svgIcon('iconLocation')
                            .mapTooltipItemContent
                                .mapTooltipItemContentHeader
                                    .mapTooltipItemContentAvatar
                                        img(src="img/avatar.jpg", alt="")
                                    .mapTooltipItemContentName
                                        | Eric Hoffman
                                .mapTooltipItemContentText
                                    span 21 мая 2015, г. Семипалатинск
                                    | My home on the moon.
                            .mapTooltipItemArrow
                                +svgIcon('iconChatExit')

meteor/html/public/ui-map.html
<!DOCTYPE html>
<html lang="ru" ng-app="demo">
  <head>
    <title>Happy Family</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerLogo"><a href="#">счастливая семья</a></div>
      <div class="headerContent">
        <div class="headerMenu"><a href="#">Читаем</a><a href="#">Поговорим?</a><a href="#">Эксперты</a><a href="#">Это мы!</a></div>
        <div class="headerSearch">
          <input placeholder="Поиск" class="input inputSearch">
        </div>
        <div class="headerLogin"><a href="#" class="headerLoginLink">Регистрация</a><a href="#" class="buttonZiggurat">Вход</a></div>
      </div>
    </div>
    <div class="main">
      <div ng-controller="sidebarCtrl" class="sidebar">
        <div class="sidebarTop">
          <div class="sidebarAvatar">
            <div class="sidebarAvatarImage"><img src="img/avatar.jpg" alt=""></div>
            <div class="sidebarAvatarStatus">
              <div dropdown-select="selectStatus" dropdown-model="selectStatusSelected" dropdown-item-label="label" class="statusDropdown"></div>
            </div>
          </div>
          <div class="sidebarText">
            <div class="sidebarName">Константин Архангельский</div>
            <div class="sidebarLocation">
                  <svg>
                    <use xlink:href="#iconLocation"></use>
                  </svg>Амстердам
            </div>
          </div>
        </div>
        <div class="sidebarMenu">
          <div class="sidebarChoiseContent">
            <div dropdown-select="VisibleSelectOptions" dropdown-model="selectContentSelected" dropdown-item-label="label" class="statusDropdownContent"></div>
          </div>
          <div class="sidebarMenuItems">
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconEvent"></use>
                  </svg>события
              <div class="sidebarMenuItemCount">33</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconMessage"></use>
                  </svg>сообщения
              <div class="sidebarMenuItemCount">333</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconContact"></use>
                  </svg>контакты
              <div class="sidebarMenuItemCount">+1</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconTheme"></use>
                  </svg>мои темы
              <div class="sidebarMenuItemCount">3</div>
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconGroup"></use>
                  </svg>мои группы
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconGenealogy"></use>
                  </svg>родословная
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconRating"></use>
                  </svg>рейтинг
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconSetting"></use>
                  </svg>настройки
            </div>
            <div class="sidebarMenuItem">
                  <svg>
                    <use xlink:href="#iconExit"></use>
                  </svg>выход
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="uiItem">
          <h2>map icon</h2>
          <div class="mapIcon"></div>
        </div>
        <div class="uiItem">
          <h2>map icon big</h2>
          <div class="mapIconBig"></div>
        </div>
        <div style="height:300px" class="uiItem">
          <h2>map boolon</h2>
          <div class="mapBoolon">
            <div class="mapBoolonHeader">
              <div class="mapBoolonAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="mapBoolonName">Eric Hoffman</div>
            </div>
            <div class="mapBoolonContent"><span>21 мая 2015, г. Семипалатинск</span>My home on the moon.</div>
            <div class="mapBoolonType">
              <div class="mapBoolonTypeItem">
                    <svg>
                      <use xlink:href="#iconSound"></use>
                    </svg>
              </div>
              <div class="mapBoolonTypeItem">
                    <svg>
                      <use xlink:href="#iconVideo"></use>
                    </svg>
              </div>
            </div>
            <div class="mapBoolonLink"><a href="#">Показать полностью...</a>4 связанных события</div>
          </div>
        </div>
        <div style="height:500px" class="uiItem">
          <h2>map tooltip</h2>
          <div class="mapTooltip">
            <div class="mapTooltipClose">
                  <svg>
                    <use xlink:href="#iconDelete"></use>
                  </svg>
            </div>
            <div class="mapTooltipScroll">
              <div class="mapTooltipItem mapTooltipItemLine">
                <div class="mapTooltipItemIcon">
                  <div class="mapIcon">
                        <svg>
                          <use xlink:href="#iconLocation"></use>
                        </svg>
                  </div>
                </div>
                <div class="mapTooltipItemContent">
                  <div class="mapTooltipItemContentHeader">
                    <div class="mapTooltipItemContentAvatar"><img src="img/avatar.jpg" alt=""></div>
                    <div class="mapTooltipItemContentName">Eric Hoffman</div>
                  </div>
                  <div class="mapTooltipItemContentText"><span>21 мая 2015, г. Семипалатинск</span>My home on the moon.</div>
                </div>
                <div class="mapTooltipItemArrow">
                      <svg>
                        <use xlink:href="#iconChatExit"></use>
                      </svg>
                </div>
              </div>
              <div class="mapTooltipItem mapTooltipItemLineSub">
                <div class="mapTooltipItemIcon">
                  <div class="mapIcon">
                        <svg>
                          <use xlink:href="#iconLocation"></use>
                        </svg>
                  </div>
                </div>
                <div class="mapTooltipItemContent">
                  <div class="mapTooltipItemContentHeader">
                    <div class="mapTooltipItemContentAvatar"><img src="img/avatar.jpg" alt=""></div>
                    <div class="mapTooltipItemContentName">Eric Hoffman</div>
                  </div>
                  <div class="mapTooltipItemContentText"><span>21 мая 2015, г. Семипалатинск</span>My home on the moon.</div>
                </div>
                <div class="mapTooltipItemArrow">
                      <svg>
                        <use xlink:href="#iconChatExit"></use>
                      </svg>
                </div>
              </div>
              <div class="mapTooltipItem mapTooltipItemSub mapTooltipItemSubLine">
                <div class="mapTooltipItemIcon">
                  <div class="mapIcon">
                        <svg>
                          <use xlink:href="#iconLocation"></use>
                        </svg>
                  </div>
                </div>
                <div class="mapTooltipItemContent">
                  <div class="mapTooltipItemContentHeader">
                    <div class="mapTooltipItemContentAvatar"><img src="img/avatar.jpg" alt=""></div>
                    <div class="mapTooltipItemContentName">Eric Hoffman</div>
                  </div>
                  <div class="mapTooltipItemContentText"><span>21 мая 2015, г. Семипалатинск</span>My home on the moon.</div>
                </div>
                <div class="mapTooltipItemArrow">
                      <svg>
                        <use xlink:href="#iconChatExit"></use>
                      </svg>
                </div>
              </div>
              <div class="mapTooltipItem mapTooltipItemSub">
                <div class="mapTooltipItemIcon">
                  <div class="mapIcon">
                        <svg>
                          <use xlink:href="#iconLocation"></use>
                        </svg>
                  </div>
                </div>
                <div class="mapTooltipItemContent">
                  <div class="mapTooltipItemContentHeader">
                    <div class="mapTooltipItemContentAvatar"><img src="img/avatar.jpg" alt=""></div>
                    <div class="mapTooltipItemContentName">Eric Hoffman</div>
                  </div>
                  <div class="mapTooltipItemContentText"><span>21 мая 2015, г. Семипалатинск</span>My home on the moon.</div>
                </div>
                <div class="mapTooltipItemArrow">
                      <svg>
                        <use xlink:href="#iconChatExit"></use>
                      </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerSidebar"></div>
      <div class="footerContent"></div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
