meteor/html/assets/template/block/sidebar.jade
.sidebar(ng-controller="sidebarCtrl")
    .sidebarTop
        .sidebarAvatar
            .sidebarAvatarImage
                img(src="img/avatar.jpg", alt="")
            .sidebarAvatarStatus
                .statusDropdown(dropdown-select='selectStatus', dropdown-model='selectStatusSelected', dropdown-item-label='label')
        .sidebarText
            .sidebarName
                | Константин Архангельский
            .sidebarLocation
                +svgIcon('iconLocation')
                | Амстердам
    .sidebarMenu
        .sidebarChoiseContent
            .statusDropdownContent(dropdown-select='VisibleSelectOptions', dropdown-model='selectContentSelected', dropdown-item-label='label')
        .sidebarMenuItems
            .sidebarMenuItem
                +svgIcon('iconEvent')
                | события
                .sidebarMenuItemCount 33
            .sidebarMenuItem
                +svgIcon('iconMessage')
                | сообщения
                .sidebarMenuItemCount 333
            .sidebarMenuItem
                +svgIcon('iconContact')
                | контакты
                .sidebarMenuItemCount +1
            .sidebarMenuItem
                +svgIcon('iconTheme')
                | мои темы
                .sidebarMenuItemCount 3
            .sidebarMenuItem
                +svgIcon('iconGroup')
                | мои группы
            .sidebarMenuItem
                +svgIcon('iconGenealogy')
                | родословная
            .sidebarMenuItem
                +svgIcon('iconRating')
                | рейтинг
            .sidebarMenuItem
                +svgIcon('iconSetting')
                | настройки
            .sidebarMenuItem
                +svgIcon('iconExit')
                | выход

meteor/meteor/client/html/directives/sidebar.left.ng.html
<div class="sidebar">
	<div class="sidebarTop">
		<div class="sidebarAvatar">
			<div class="sidebarAvatarImage">
				<avatar user-id="{{auth.profile.id}}"></avatar>
				<!--<img src="img/avatar.jpg" alt="">-->
			</div>
			<div class="sidebarAvatarStatus">
				<div dropdown-select="selectStatus" dropdown-model="selectStatusSelected" dropdown-item-label="label" class="statusDropdown"></div>
			</div>
		</div>
		<div class="sidebarText">
			<div style="cursor:pointer;" ng-click="$state.go('private.profile.settings')" class="sidebarName" ng-bind="currentUser.profile.firstName + ' ' + currentUser.profile.lastName"></div>
			<div ng-show="currentUser.profile.currentLocationName" class="sidebarLocation">
				<svg>
					<use xlink:href="#iconLocation"></use>
				</svg>{{currentUser.profile.currentLocationName}}
			</div>
		</div>
	</div>
	<div class="sidebarMenu">
		<div class="sidebarChoiseContent">
			<div dropdown-select="selectContent" dropdown-model="selectContentSelected" dropdown-item-label="label" class="statusDropdownContent"></div>
		</div>
		<div class="sidebarMenuItems">
			<div class="sidebarMenuItem" ng-click="$state.go('private.feed')">
				<svg>
					<use xlink:href="#iconEvent"></use>
				</svg>события
				<div class="sidebarMenuItemCount">3</div>
			</div>
			<div ng-click="$state.go('private.im')" class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconMessage"></use>
				</svg>сообщения
				<div ng-if="newMessagesCount.count" class="sidebarMenuItemCount fx-fade-up">{{ newMessagesCount.count }}</div>
			</div>
			<div ng-click="newSubscribersCount && newSubscribersCount.count > 0 ? $state.go('public.profile.subsbar.followers', { userId: currentUser._id }) : $state.go('public.profile.subsbar.subscriptions', { userId: currentUser._id })" class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconContact"></use>
				</svg>контакты
				<div ng-show="newSubscribersCount.count" class="sidebarMenuItemCount fx-fade-up">+{{newSubscribersCount.count}}</div>
			</div>
			<div ui-sref="private.profile.themes" class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconTheme"></use>
				</svg>мои темы
			</div>
			<div class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconGroup"></use>
				</svg>мои группы
			</div>
			<div class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconGenealogy"></use>
				</svg>родословная
			</div>
			<div class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconRating"></use>
				</svg>рейтинг
			</div>
			<div ng-click="$state.go('private.profile.settings')" class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconSetting"></use>
				</svg>настройки
			</div>
			<div ng-click="logout()" class="sidebarMenuItem">
				<svg>
					<use xlink:href="#iconExit"></use>
				</svg>выход
			</div>
		</div>
	</div>
</div>
